requirements:
	-Pelo menos 3 rodas
	-Usar classes
	-Ter uma quantidade de créditos iniciais os quais aumentam e diminuem de acordo com os ganhos
	-Poder apostar diferentes quantidades de créditos em cada jogada
	-Ter diferentes payouts

Slot Machine
Quando iniciada deve perguntar ao utilizador quantos créditos quer depositar
Antes de cada rodada deve perguntar ao utilizador se quer parar de jogar
Se a decisao for para continuar deve-se perguntar quantos créditos vao ser apostados(
    -> se nao houver créditos suficientes o jogador e informado e repete-se a pergunta
Uma Rodada consiste em gerar 3 simbolos de um conjunto de 7 símbolos (há vossa escolha)
Os simbolos devem ter as seguintes probabilidades 
    50/156 simbolo 1 
    40/156 simbolo 2 
    30/156 simbolo 3 
    20/156 simbolo 4 
    10/156 simbolo 5 
    5/156 simbolo 6 
    1/156 simbolo 7
Se os 3 símbolos forem iguais então o utilizador ganha créditos em função da sua aposta e do simbolo 
    5 * aposta simbolo 1 
    10 * aposta simbolo 2 
    20 * aposta simbolo 3 
    70 * aposta simbolo 4 
    200 * aposta simbolo 5 
    1000 * aposta simbolo 6 
    100_000 * aposta simbolo 7
se o utilizador fica sem créditos o programa deve fechar
O vosso código deve usar pelo menos uma classe 
Os símbolos sao a vossa escolha mas exemplos de conjuntos podem ser A,B,C,D,E,F,G #,$,%,&,@,£,€
